#name{
    width: 12cm;
    height: 1cm;
}
#email{
    width: 12cm;
    height: 1cm;
}
#address{
    width: 12cm;
    height: 1cm;
}
#phone{
    width: 12cm;
    height: 1cm;
}
.btn{
    color: #fff;
    background-color: #b65cc2;
    border-color:#eb27ba;
    box-shadow: 40px;
}