.card-body{
    height: 5cm;
    width: 10cm;
    float: left;
}
.card{
    height: 5cm;
    width: 10cm;
    float: left;
    margin: .3em;
}
.taskcard{
    margin: .3em;
}
.taskform{
    margin: 8em;
}
.tasks{
    margin: 12 em;
}
.newTaskButton{
    margin: 7em;

}
.btn {

    color: #fff;
    background-color: #d733e6;

}
.edittask{
    margin: 8em;
}

.card-title{
    margin: 4em;

}
.button{
    color: #fff;
    background-color: #b65cc2;
    border-color:#eb27ba;
    box-shadow: 40px;
}
.mostrecent{
    box-shadow: 40px rgb(241, 13, 51);
}
#detail{
    height: 6cm;
}


.list-group-item.active{

    background-color: rgb(194, 109, 183);
}
.active{
    background-color: rgb(20, 188, 240)
}
.btn-indigo{
    margin: 1cm;
}