.stylenavbar{
    margin-top: 10em;

    }
.stylenavbar{
background-color: rgb(43, 223, 163);
box-shadow: 5px 10px  #737779;
}
.nav-tabs{
    background-color: rgb(43, 223, 163);
    box-shadow: 5px 10px  #737779;
}
a {
     color: #007bff;
     text-decoration: none;
     background-color: rgb(43, 223, 163) ;
    -webkit-text-decoration-skip: objects;
}